* {
    padding: 0;
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  scroll-behavior:smooth;
}

body {
    background: #0a2a43;
    min-height: 1500px;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

section:before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #0a2a43, transparent);
    z-index: 10000;
}

section:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

section img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

#s {
    position: relative;
    color: #ffffff;
    font-size: 5em;
    z-index: 1;
}

#gardan {
    z-index: 3;
}

/*======*/
h1{
  color:#ffffff;
  margin-top:100px;
  margin-bottom:100px;
  font-weight:900;
  text-align:center;
}
.flex{
  display:flex;
  margin:5%;
}
h3{
  color:#ffffff;
  padding-bottom:10px;
}
.one, .two{
  color:grey;
  padding:2%;
}
